.ustpencere {
  display:flex;
  position:relative;
}
.ustpencere .logo img {
  width:75px;
  height:75px;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Open+Sans&family=Roboto:ital,wght@0,300;1,100&display=swap');
.ustpencere a#a {
  border: 1.3px solid #45433e;
  position:relative;
  top: 20px;
  height:max-content;
  padding:10px;
  text-decoration: none;
  color:burlywood;
  border-radius:10px;
  left:15px;
  font-family: 'Roboto', sans-serif;
}
.ustpencere a#a:hover {
  color:#fff;
  background-color:#45433e;
  transition:0.3s;
}
.ustpencere a#a:not(:hover) {
  background-color:none;
  color:burlywood;
  transition:0.3s;
}
.ustpencere a#b {
  border: 1.3px solid #45433e;
  position:relative;
  top: 20px;
  height:max-content;
  padding:10px;
  text-decoration: none;
  color:burlywood;
  border-radius:10px;
  left:20px;
  font-family: 'Roboto', sans-serif;
}
.ustpencere a#b:hover {
  color:#fff;
  background-color:#45433e;
  transition:0.3s;
}
.ustpencere a#b:not(:hover) {
  background-color:none;
  color:burlywood;
  transition:0.3s;
}
.ustpencere a#c {
  border: 1.3px solid #45433e;
  position:relative;
  top: 20px;
  height:max-content;
  padding:10px;
  text-decoration: none;
  color:burlywood;
  border-radius:10px;
  left:25px;
  font-family: 'Roboto', sans-serif;
}
.ustpencere a#c:hover {
  color:#fff;
  background-color:#45433e;
  transition:0.3s;
}
.ustpencere a#c:not(:hover) {
  background-color:none;
  color:burlywood;
  transition:0.3s;
}
.liminal {
  display:inline-block;
  background-color:#3d81a5;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  padding:20px;
  height:500px;
  position:relative;
  top:5px;
}
.liminal h4 {
  letter-spacing: 1px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.liminal #liminalbaslik {
  color:black;
  font-family: 'Trebuchet MS', sans-serif;
}
.imgsrc img{
  position:relative;
  width:960px;
  height:535px;
  top:5px;
}
.gamemsg {
  display: flex;
}
.altkisim {
  position:relative;
  text-align:center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#999894;
  background-color:darkred;
  padding:25px;
  width:96.25%;
}
.altkisim h1 {
  font-size:70px;
}
.altkisim h3 {
  position:relative;
  bottom:50px;
  color:black;
  letter-spacing: 1px;
}
.altkisim h1 span {
  position:relative;
  color:red;
  z-index:500;
}
.imgsrc {
  display:flex;
}
.liminal a {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  position:relative;
  top:50px;
  color:white;
  border:2px solid black;
  border-radius:10px;
  padding:10px;
  transition:0.5s;
}
.liminal a:hover {
  background-color:black;
  color:#fff;
  transition:0.5s;
}
a#a:hover:before {
  content:"Ana Sayfaya Git";
  background-color:#333;
  border-radius:3px;
  z-index:2;
  color:#ffffff;
  font-family:Arial,sans-serif;
  padding:10px;
  position:absolute;
  top:0px;
  opacity:0;
  right:3px;
  animation-name:mainpage;
  animation-duration: 0.7s;
  animation-fill-mode:forwards;
}

@keyframes mainpage{
  from {top:0px; opacity:0;}
  to {top:50px; opacity:1;}
}
a#b:hover:before {
  content:"Hakkımızda kısmına git";
  background-color:#333;
  border-radius:3px;
  z-index:2;
  color:#ffffff;
  font-family:Arial,sans-serif;
  padding:10px;
  position:absolute;
  right:3px;
  top:0px;
  opacity:0;
  animation-name:mainpage;
  animation-duration: 0.7s;
  animation-fill-mode:forwards;
}

@keyframes mainpage{
  from {top:0px; opacity:0;}
  to {top:50px; opacity:1;}
}
a#c:hover:before {
  content:"İletişim Kur";
  background-color:#333;
  border-radius:3px;
  z-index:2;
  color:#ffffff;
  font-family:Arial,sans-serif;
  padding:10px;
  right:3px;
  position:absolute;
  top:0px;
  opacity:0;
  animation-name:mainpage;
  animation-duration: 0.7s;
  animation-fill-mode:forwards;
}

@keyframes mainpage{
  from {top:0px; opacity:0;}
  to {top:50px; opacity:1;}
}
body {
  width: 1503px;
  height: 1080px;
}